video {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

body {
	margin: 0;
	padding: 0;
	background-size: cover;
}

.register-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(255, 255, 255);
	padding: 30px;
	border-radius: 20px;
    animation: fadeIn 1s;
}

.register-box form {
	position: relative;
}

.register-box input[type="text"],
.register-box input[type="password"],
.register-box input[type="email"] {
	width: 100%;
	padding: 10px 0;
	margin: 10px 0;
	border: none;
	border-bottom: 1px solid #333;
	background: transparent;
	outline: none;
	color: #333;
	font-size: 16px;
    transition: 1s;
}

.register-box input[type="text"]:hover,
.register-box input[type="password"]:hover,
.register-box input[type="email"]:hover {
	border-bottom: 1px solid rgba(255, 255, 255, 0.705);
    transition: 1s;
}

.register-box input[type="submit"] {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 10px;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.register-box input[type="submit"]:hover {
	background: #333;
	color: #fff;
}

.register-box input[type="submit"]:disabled {
    pointer-events: none;
}

.register-box input[type="submit"]:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.register-box input[type="submit"]:active {
    box-shadow: none;
    transform: translateY(0);
}

.register-box ::placeholder{
    color: rgb(58, 53, 53);
}

.login-icons {
    text-align: center;
    font-size: xx-large;
    margin-top: 20px;
    margin-bottom: 10px;
    word-spacing: 10px;
}

.login-icons a{
    color: black;
}

p {
    font-size: x-small;
    text-align: center;
    font-family: "poppins", sans-serif;
    margin-bottom: 1px;
}
